body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  nav {
      width: 100%;
      height: 75px;
      background-color: rgb(6, 64, 14,.9);
      color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 20px;
      top: 0;

  }
  
  
  
  /* Side Bar */
  #hamburgerBtn {
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 1001;
  background: none;
  border: none;
  color: white;
  font-size: 24px; 
  }
  
  .sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #343a40;
  color: white;
  transition: right 0.3s ease; 
  z-index: 1000;
  }
  
  .sidebar.active {
  right: 0; 
  }
  
  .sidebar ul {
  list-style: none;
  padding: 20px 10px;
  }
  
  .sidebar ul li {
  margin: 15px 0;
  }
  
  .sidebar ul li a {
  color: white;
  text-decoration: none;
  }
  
  .content {
    padding: 0px;
  }
  
  .table-container {
    margin-top: 20px;
    padding: 0 20px 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-bottom: 20px;
  }
  
  table,
  th,
  td {
    border: 1px solid #ddd;
  }
  
  th,
  td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: rgb(6, 64, 14, .9);
    color: white;
    cursor: pointer;
  }
  
/* Dashboard Title Styling */
#dashboard-title {
    color: rgb(214, 214, 214);
    font-family: "Markazi Text", serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 10px;
    padding-top: 5px;
    float: left;
    width: 100%;
    font-size: 1.8em;
    text-align: center; /* Center the title */
}

#dashboard-title a {
    color: inherit;
    text-decoration: none;
}

#dashboard-title a:hover {
    color: white; /* Change hover effect if necessary */
}

  
  /* Alternating row colors same colors as homepage*/
  #partsTable .even{
  background-color: rgb(255, 255, 255);
  }
  
  #partsTable .odd {
  background-color: rgba(0, 0, 0, .05);
  }
  
  tr:hover {
    background-color: #f2f2f2;
  }
  
  /* Inventory Levels */
  #inventory-levels, #monthly-trends{
  background-color: #222;
  margin-top: 0px; /** override .table-container for these section**/
  padding-top: 15px;
}
  
  #inventory-levels H2, #monthly-trends H2 {
  color: #ffffff;
  font-family: "Markazi Text", serif;
  font-weight: 500;


  }
  
  .inventory-levels-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Max 6 items per row */
  gap: 20px; /* Space between boxes */
  justify-content: center; /* Center the grid on the page */
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  padding-bottom: 50px;
  }
  
  #inventory-levels .box {
  position: relative;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 12px;
  box-sizing: content-box;
  }
  
  #inventory-levels .box h3 {
  margin: 0;
  font-size: 1em;
  font-weight:normal;
  padding: 3px 0px 15px;
  }
  
  #inventory-levels .box-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 24px; /* needs to match height in admin.js */
  border-radius: 10px;
  background-color: aqua;
  transition: height 0.3s ease;
  cursor: pointer;
  overflow: visible;
  z-index: 1;
  }
  
  #inventory-levels .box-data {
  position: relative;
  top: 20px;
  height: 36px; /* Space for content */
  border-radius: 0px 0px 10px 10px;
  background-color: #e0e0e0;
  padding: 8px;
  z-index: 0;
  }
  
  #inventory-levels .box-header ul.capacities {
  list-style: none;
  padding-bottom: 3px;
  padding-left: 0px;
  opacity: 0;
  }
  
  #inventory-levels .box-header ul.capacities.show {
  opacity: 1;
  transition: opacity 0.3s ease;
  }
  
  /* Trends */
  .monthly-trends-container {
  display: grid;
  grid-template-columns: 1fr 5fr; /* 1/6 width for the first column, 5/6 for the second */
  gap: 20px;
  padding: 20px;
  }
  
  .monthly-trends-date-column {
  background-color: #f0f0f0;
  border: 2px solid #333;
  padding: 3px;
  }
  
  .monthly-trends-graph-column {
  background-color: #666666;
  border: 2px solid #333;
  padding: 2px;
  }
  
  /* TRENDS BUTTONS */
  #trendButtons {
      display: flex;
      justify-content: space-evenly;  
      margin-top: 20px;
  }
  
  
  #trendButtons .btn {
      background-color: rgb(6, 64, 14, .9);  /* Unselected green */
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
  }
  
  /* Button hover effect (slightly darker green) */
  #trendButtons .btn:hover {
      background-color: rgb(22, 95, 27);  /* Darker green on hover */
  }
  
  /* Button when selected (even darker green) */
  #trendButtons .btn:focus, 
  #trendButtons .btn.active {
      background-color: rgb(6, 64, 14, .9);  /* Darker green when selected */
      outline: none;  
      box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.6);  /* White glow effect */
  }
  
  
  #trendButtons .btn:focus {
      outline: none;
  }
  
  /* Space between the buttons */
  #trendButtons .btn:not(:last-child) {
      margin-right: 15px;  
  }
  
  
  /* Search */
  #partsTable_filter {
      position: relative;
      top: -5px; /* fix alignment with other items in row */
  }
  
  #partsTable_filter input {
      background-color: white;
      width: 300px;
      padding-left: 10px;
      font-size: 16px;
      border-radius: 30px;
  }
  
  #partsTable_filter input:hover {
      border: 1px solid #7babe2;
  }
  
  #partsTable_filter button {
      background-color: #FFF;
      color: black;
      outline: none;
      padding: 0px 10px;
      border-radius: 20px;
      border: solid 0px #FFF;
      cursor: pointer;
  }
  
  #partsTable_filter::after {
      content: '\f002';
      /* FontAwesome search icon unicode */
      font-family: 'Font Awesome 5 Pro';
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      /* Makes the icon non-interactive */
      color: #ccc;
      /* Icon color, can be changed as needed */
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
  }
  
  #partsTable_filter label {
      margin-bottom: 0px !important; /* override for search icon alignment */
  }
  
  #clearButton {
      display: none;
      position: absolute;
      right: 4px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1000;
      font-size: 1.3em;
  }
  
  
  /* end Search */
  
  /* Breakpoints */
  @media (max-width: 1200px) {
  .inventory-levels-container {
      grid-template-columns: repeat(4, 1fr); /* Adjust to 4 items per row on medium screens */
  }
  }
  
  @media (max-width: 800px) {
  .inventory-levels-container  {
      grid-template-columns: repeat(2, 1fr); /* Adjust to 2 items per row on small screens */
  }
  .monthly-trends-container {
      grid-template-columns: 1fr; /* Stack columns on top of each other */
  }
  
  .monthly-trends-date-column, .monthly-trends-graph-column {
      width: 100%; /* Ensure both columns take full width */
  }
  }
  
  @media (max-width: 500px) {
  .inventory-levels-container  {
      grid-template-columns: 1fr; /* Stack the boxes in one column on very small screens */
  }
  }
  
  #parts-by-date-title {
  font-family: "Markazi Text", serif;
  font-weight: 400;
  text-align: center; 
  font-size: 2em; 
  margin-top: 20px; 
  color: white; 
  }
  
  .monthly-trends {
  display: flex;
  background-color: #f0f0f0;
  color: black;
  padding: 20px;
  }
  
  .monthly-trends-menu {
  width: 20%;
  margin-right: 20px;
  }
  
  .monthly-trends-menu ul {
  list-style: none;
  padding: 0;
  font-size: 20; 
  }
  
  .monthly-trends-menu ul li {
  padding: 10px;
  cursor: pointer;
  font-size: 20; 
  }
  
  .monthly-trends-menu ul li:hover {
  background-color:  rgb(223, 223, 223);
  
  }
  
  .monthly-trends-menu ul li.active {
  background-color:  rgb(6, 64, 14, .9);
  color:rgb(255, 255, 255);
  outline: none;  
  box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.6);  /* White glow effect */
  }
  
  .monthly-trends-graph-column {
  width: 80%;
  background-color: #222;
  color: white;
  padding: 10px;
  border-radius: 8px;
  }
  
  canvas {
  max-width: 100%;
  height: 400px;
  }
  