/* Custom styles */
body {
    background-color: #f8f9fa;
  }
  
  .inventory-item:nth-child(odd) {
    background-color: #006bb6; 
  }
  
  .inventory-item:nth-child(even) {
    background-color: #fdb927; 
  }
  